html {
    height: 100%;
}

footer img {
    float: right;
    margin-left: 55px;
}

ribbon {
  background: #C6C6C6;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddfbfc), color-stop(100%, #c6eafa));
  background: -webkit-linear-gradient(#ddfbfc, #c6eafa);
  background: -moz-linear-gradient(#ddfbfc, #c6eafa);
  background: -o-linear-gradient(#ddfbfc, #c6eafa);
  background: -ms-linear-gradient(#ddfbfc, #c6eafa);
  background: linear-gradient(#ddfbfc, #c6eafa);
  position: relative;
  margin: 0px 0px 20px -23px;
  padding: 0px 25px 0px 20px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #B2D2E1;
  border-right: 1px solid #B2D2E1;
}

h5.date {
  margin: 0px;
}

img.primary {
  float:right;
  margin: 10px;
}
