/* header and top stuff */
div#social-links {
  position: relative;
  top: 6px;
}

/* post contents */
div.post-content {
  position: absolute;
  top: 60px;
  left: 145px;
}

img.primary-image {
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 10px;
}