<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        {% include head.html %}
    </head>

    <body>

    <!-- Main content  -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container"><!-- containers restrict width -->
            <span class="navbar-header">
                <a class="navbar-brand" href="/">SKURO!</a>
            </span>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/archive"><strong>Archive</strong></a></li>
                    <li><a href="/category"><strong>Categories</strong></a></li>
                    <li><a href="/about"><strong>About me</strong></a></li>
                </ul>

                <div id="social-links" class="nav navbar-nav navbar-right">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><a href="https://github.com/skuro"><img src="/img/github.png" /></a></button>
                            <button type="button" class="btn btn-default"><a href="http://nl.linkedin.com/in/carlosciolla"><img src="/img/linkedin.png" /></a></button>
                            <button type="button" class="btn btn-default"><a href="https://twitter.com/skuro"><img src="/img/twitter.png" /></a></button>
                            <button type="button" class="btn btn-default"><a href="/rss2.xml"><img src="/img/rss.png" /></a></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container post-content">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
{{ content }}

        </div><!-- col-md-6 -->
        <div class="span5">&nbsp;</div>
      </div><!-- row -->

        <hr />

    </div>


    <!-- Footer -->
    <footer>
      <div class="container">
            <p>
                <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">
                    <img src="/img/ccommons.png" alt="Creative Commons License" />
                </a> licensed under a Creative Commons <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">license</a>
            </p>
            <span rel="dct:type" property="dct:title" href="http://purl.org/dc/dcmitype/Text">SKURO! blog</span> by
            <a rel="cc:attributionURL" property="cc:attributionName" href="http://skuro.tk">
              Carlo Sciolla
            </a></span>
      </div>
    </footer> <!-- end Footer -->

    <!-- end Main content -->

    <!-- Advertisement  -->
    <div class="google-ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ghpages-skyscraper -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:120px;height:600px"
             data-ad-client="ca-pub-5536661153340295"
             data-ad-slot="1277668326"></ins>
        <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div> <!-- end Advertisement -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try{
      var pageTracker = _gat._getTracker("UA-6754361-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>
