<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        {% include head.html %}
    </head>

    <body>

    <!-- Main content  -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container"><!-- containers restrict width -->
            <span class="navbar-header">
                <a class="navbar-brand" href="/">SKURO!</a>
            </span>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/archive">Browse the <strong>Archive</strong></a></li>
                    <li><a href="/category">Browse by <strong>Categories</strong></a></li>
                    <li><a href="/about">Learn more <strong>About me</strong></a></li>
                </ul>

                <div id="social-links" class="nav navbar-nav navbar-right">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><a href="https://github.com/skuro"><img src="/img/github.png" /></a></button>
                            <button type="button" class="btn btn-default"><a href="http://nl.linkedin.com/in/carlosciolla"><img src="/img/linkedin.png" /></a></button>
                            <button type="button" class="btn btn-default"><a href="https://twitter.com/skuro"><img src="/img/twitter.png" /></a></button>
                            <button type="button" class="btn btn-default"><a href="/rss2.xml"><img src="/img/rss.png" /></a></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container post-content">
{{ content }}

        <hr />
        <!-- Footer -->
        <footer>
            <p>
                <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">
                    <img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" style="border-width:0;margin-bottom:10px" alt="Creative Commons License" />
                </a> licensed under a Creative Commons <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">license</a>
            </p>
            <span rel="dct:type" property="dct:title" href="http://purl.org/dc/dcmitype/Text">SKURO! blog</span> by <a rel="cc:attributionURL" property="cc:attributionName" href="http://skuro.tk">Carlo Sciolla</a></p>
        </footer> <!-- end Footer -->
    </div>

    <!-- end Main content -->

    <!-- Advertisement  -->
    <div>
      <script type="text/javascript"><!--
                                         google_ad_client = "ca-pub-5536661153340295";
                                         /* ghpages-skyscraper */
                                         google_ad_slot = "1277668326";
                                         google_ad_width = 120;
                                         google_ad_height = 600;
                                         //-->
      </script>
      <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div> <!-- end Advertisement -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try{
      var pageTracker = _gat._getTracker("UA-6754361-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>
