---
layout: default
comments: true
---

<ul class="pager">
  {% if page.previous %}<li class="previous"><a href="{{ page.previous.url }}">&#8617; {{ page.previous.title }}</a></li>{% else if site.posts[1] %}
  <li class="previous"><a href="{{ site.posts[1].url }}">&#8617; {{ site.posts[1].title }}</a></li>{% endif %}
  {% if page.next %}<li class="next"><a class="pull-right" href="{{ page.next.url }}">{{ page.next.title }} &#8618;</a></li>{% endif %}
</ul>


<div>
  {% include post_header.html %}
  {% if page.primary_img %}
  <img class="primary-image" src="{{ page.primary_img }}" />
  {% endif %}
  {{ content }}
  {% if page.comments %}
  <hr />
  {% include disqus.html %}
  {% endif %}
</div>
